.rel-barHp-content{
    border: 8px solid #484848;
    border-radius: 10px; 
}

.rel-barhp{
    background-color: #009400;
    border-radius: 2px; 
    max-width: 100%;
}

.rel-barhp h5{
    background-color: #484848;
    padding: 0px;
    margin: 0px !important;
    width: 2.5em;
    color: #f8b100;
}
