.rel-background-home {
  background-image: url("https://pbs.twimg.com/media/DVMT-6OXcAE2rZY.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #cccccc;
  width: 100vw;
  height: 100vh;
}
