.rel-text-mensage-out {
  border: 4px solid black;
  height: 100%;
  margin: 0em 2em 0em 2em;
  border-radius: 0.7em;
}

.rel-text-mensage-in {
  border: 4px solid yellow;
  border-radius: 0.5em;
}

.rel-text-mensage {
  border: 8px solid #696969;
  height: 100%;
  border-radius: 0.3em;
  background-color: white;
  text-shadow: 2px 2px 1px #696;
}

.rel-Texmensage-text {
  max-height: 4em !important;
}
